/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 0.75vw;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #1F4B58;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00C597;
    border-radius: 0.6vw;
  }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(0,0,0,51%);
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: rgba(0,0,0,51%);
}
  